$base-url: "../fonts/";
$name: "AppleSDGothicNeo";

$font-url: $base-url + $name;

@font-face {
	font-family: "AppleSDGothicNeo";
	font-weight: 900;
	font-display: swap;
	src: url($font-url + "H.woff2") format("woff2"),
		url($font-url + "H.woff") format("woff")
}

@font-face {
	font-family: "AppleSDGothicNeo";
	font-weight: 800;
	font-display: swap;
	src: url($font-url + "EB.woff2") format("woff2"),
		url($font-url + "EB.woff") format("woff")
}

@font-face {
	font-family: "AppleSDGothicNeo";
	font-weight: 700;
	font-display: swap;
	src: url($font-url + "B.woff2") format("woff2"),
		url($font-url + "B.woff") format("woff")
}

@font-face {
	font-family: "AppleSDGothicNeo";
	font-weight: 600;
	font-display: swap;
	src: url($font-url + "SB.woff2") format("woff2"),
		url($font-url + "SB.woff") format("woff")
}

@font-face {
	font-family: "AppleSDGothicNeo";
	font-weight: 500;
	font-display: swap;
	src: url($font-url + "M.woff2") format("woff2"),
		url($font-url + "M.woff") format("woff")
}

@font-face {
	font-family: "AppleSDGothicNeo";
	font-weight: 400;
	font-display: swap;
	src: url($font-url + "M.woff2") format("woff2"),
		url($font-url + "M.woff") format("woff")
}

@font-face {
	font-family: "AppleSDGothicNeo";
	font-weight: 300;
	font-display: swap;
	src: url($font-url + "L.woff2") format("woff2"),
		url($font-url + "L.woff") format("woff")
}

@font-face {
	font-family: "AppleSDGothicNeo";
	font-weight: 200;
	font-display: swap;
	src: url($font-url + "UL.woff2") format("woff2"),
		url($font-url + "UL.woff") format("woff")
}

@font-face {
	font-family: "AppleSDGothicNeo";
	font-weight: 100;
	font-display: swap;
	src: url($font-url + "T.woff2") format("woff2"),
		url($font-url + "T.woff") format("woff")
}