@mixin outline-button($font-color, $back-color) {
	background-color: $back-color;
	border: 1px solid $back-color;

	color: $font-color;

	transition: 0.5s;

	svg {
		path {
			transition: 0.5s;
		}
	}

	&:hover {
		background-color: transparent;
		border: 1px solid $back-color;

		color: $back-color;

		svg {
			path {
				fill: $back-color !important;

				transition: 0.5s;
			}
		}
	}

	&:active {
		opacity: 0.7;
	}
}