@import './global/apple.scss';

* {
	font-family: 'AppleSDGothicNeo', sans-serif;
	user-select: none;
}

html, body {
	padding: 0px;
	margin: 0px;
}

button.icon-button {
	display: flex;
	gap: 10px;

	cursor: pointer;

	justify-content: center;
	align-items: center;
}

main {
	& > section {
		min-height: calc(100vh - 328px);

		padding-bottom: 115px;
	}
}

@media (max-width: 1024px) {
	main {
		& > section {
			min-height: calc(100vh - 381px);
		}
	}
}