* {
	user-select: none;
}

html, body {
	padding: 0px;
	margin: 0px;
}

button.icon-button {
	display: flex;
	gap: 10px;

	cursor: pointer;

	justify-content: center;
	align-items: center;
}

main {
	& > section {
		min-height: calc(100vh - 341px);
	}
}

@media (max-width: 1200px) {
	main {
		& > section {
			min-height: calc(100vh - 379px);
		}
	}
}